.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
  -webkit-text-stroke: 0.3px #444444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
