.main {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: justify;
  text-align-last: center;
}
.main__title {
  margin-bottom: 15px;
}

.main__list {
  list-style-type: none;
}

.main__text:first-child {
  margin-bottom: 20px;
  text-decoration: underline;
}
.main__text {
  margin-bottom: 10px;
}
.main__text:last-child {
  margin-bottom: 0;
}
