* {
  padding: 0;
  margin: 0;
}

.app {
  margin: auto;
  width: 1280px;
  text-align: center;
}
.app__list {
  margin-top: 30px;
  margin-bottom: 120px;
}
.app__list-links {
  list-style: none;
}
.app__link {
  text-decoration: none;
  color: #282c34;
}
.app__link:hover {
  opacity: 0.8;
}
